@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* common styling */
.grey { color: gray; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { text-align: center; }

.transition {
  transition: 1s all ease;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 47%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { padding: 18px 0; }
.hamburger { display: none; }

.media {
  width: 20%;
  display: inline-block;
}

.media a { 
  color: #999999;
  font-size: 12px;
 }

.media li { margin-right: 7px; }

nav { 
  width: 67.5%;
  float: right;
}

nav li { margin-right: 28px; }
nav li:nth-last-child(1),
.media li:nth-last-child(1) { margin-right: 0; }

nav a {
  color: #999999;
  font-size: 11px;
}
  
.media li a:hover,
nav a:hover {
  color:#38DCC8;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  -webkit-transform: translateY(-5px); 
  transform: translateY(-5px); 
}

.active {  color: #38DCC8; }
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts */
.banner { position: relative; }

.banner-content { 
  position: absolute;
  top: 54%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
}

h1 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 17px;
}

h1 span {  color: #38DCC8;}

.banner-content span:nth-child(2) {
  padding-top: 8px;
  display: block;
  color: #fff;
  font-size: 18px;
  font-style: italic;
  letter-spacing: 4px;
  text-align: center;
}
/* banner styles ends */
/* about styles starts */
.about {
  padding-top: 20px;
  position: relative;
  background-color: #38DCC8;
}

.about figure {
  width: 75%;
  margin-left: -48px;
}

.about-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.about-content .head {
  width: 30%;
  padding: 15px 5% 22% 15px;
  border: 7px solid #fff;
  margin-left: 10%;
  display: inline-block;
}

.about-content .content {
  width: 43%;
  float: right;
}

h2 {
  color: #fff;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 5px;
}

.content p span {
  width: 75%;
  margin: 10px 0; 
  display: block;
  color: #fff;
  font-size: 12px;
  margin: 15px 0;
  line-height: 21px;
  word-spacing: 10px;
}

.about-content a {
  padding: 10px 16px;
  background-color: #fff;
  color:#38DCC8;
  font-size: 10px;
  text-transform: capitalize;
}
.about-content a:hover{
  border-radius: 5px;
  box-shadow: 4px 4px 0 #fff;
  -webkit-transition: 0.5s all;
}
/* about styles ends */
/* showreel starts */
.showreel { position: relative; }

.showreel-content{
  width: 43%;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.showreel-content a{
  width: 100%;
  padding: 23px 0;
  border: 7px solid #fff;
  margin: 48px 0;
  display: block;
  background-color: #91E8DD;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 5px;
}

.showreel-content a:nth-child(2){  background-color: #38DCC8 }
.showreel-content a:nth-child(3){  background-color:#269384; }

.showreel-content a:hover {
  border-radius: 10px 0 10px 0;
  background-color: #fff;
  color: #91E8DD;
  transition: 0.5s all ease;
}

.showreel-content a:nth-child(2):hover { color:  #38DCC8 ; }
.showreel-content a:nth-child(3):hover {  color:  #269384 ; } 
/* showreel styles ends */
/* gallery styles starts */
.gallery ul li { 
  width: 33.2%;
  margin-right: -5px;
}

.gallery ul li:nth-child(3),
.gallery ul li:nth-child(6) { margin-right: 0; }

/* gallery styles ends */
/* contact styles starts */
.contact {
  padding: 8% 0 11% 0;
  background-color: #38DCC8;
}

.contact h2 {
  width: 90%;
  padding: 19px 0;
  border: 10px solid white;
  margin: 0 auto 60px;
  text-align: center;
}

.contact-content {
  width: 22%;
  display: inline-block;
  margin-left: 3%;
}

h3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 5px;
}

address {
  padding-bottom: 20px;
  color: #fff;
  font-size: 11px;
  line-height: 22px;
}

.tel,
.info {
  color: #fff;
  font-size: 11px;
}

.contact .media {  width: 100%; }

.contact .media a {
  padding-top: 10px;
  color: #fff;
  font-size: 16px;
}

.contact .media a:hover,
.info:hover { color: #269384; }

form {
  width: 54%;
  margin-right: 5%;
  float: right;
  vertical-align: top;
}

input::placeholder,
textarea::placeholder {
  color: #38DCC8;
  font-size: 10px;
  text-transform: capitalize;
}

form input,textarea {
  width: 100%;
  padding: 4px 0 4px 10px;
  border: none;
  margin: 2px 0;
  outline: none;
  resize: none;
}

form input[type=submit] {
  width: 30%;
  padding: 6px 10px;
  margin: 2px 0 ;
  float: right;
  background-color: #fff;
  color: #38DCC8;
}

form input[type=submit]:hover {
  border-radius: 20px;
  background-color: #269384;
  color: #fff;
  transition: 0.5s all ease;
} 
/* contact styles ends */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer span{
  font-size: 10px;
  color: #38DCC8;
}

footer {  padding: 10px 0; }
footer a {  color: #38DCC8; }

footer a:hover,
footer .top:hover { 
  color: #269384;
  transform: translatey(-5px);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
}

footer .top{
  float: right;
  font-size: 35px;
}





 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  